@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}


@*If submit successfully with Validations, goes to this page.*@
<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <img src="~/img/JoelHiltonHeadshot.jpg" />
</div>
